<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Who We Are</title>
  <!-- Stylesheets -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/assets/css/header-styles.css}">
  <link rel="stylesheet" th:href="@{/assets/css/footer-styles.css}">
  <link rel="stylesheet" th:href="@{/assets/css/basicpages.css}">
  <link th:href="@{/assets/images/favicon.ico}" rel="icon">
  <style>
    p {
        font-size: large;
    }
  </style>
</head>
<body>
    <!-- Navigation Bar -->
    <div th:replace="~{fragments/header :: menu}"></div>

    <!-- Page Header -->
    <header>
      <div class="base_header-container">
          <h1>Who We Are</h1>
      </div>
  </header>
  <div class="container mt-2">
    <a class="btn btn-lg btn-primary"> What We Do </a>
    <a class="btn btn-lg btn-primary"> Mission & Vision </a>
    <a class="btn btn-lg btn-primary"> TLP </a>
  </div>
  
  <main>
      <section class="base_about-section">
          <h2>About BGD e-GOV CIRT</h2>
          <p>
              BGD e-GOV CIRT (Bangladesh e-Government Computer Incident Response Team) is the national frontline against cyber threats 
              in Bangladesh. Established in response to the Bangladesh Bank cyber attack in 2016, we were born out of urgency and 
              foresight to safeguard the nation’s rapidly expanding digital landscape. 
          </p>
          <p>
              As the designated <strong>National Computer Emergency Response Team (N-CERT), </strong> we operate under the 
              <strong> Bangladesh Computer Council (BCC) </strong>, and are governed by the 
              <strong> Cyber Security Ordinance 2025. </strong> Our mandate is to defend Bangladesh’s digital backbone and ensure the resilience of its critical information infrastructures.
          </p>
  
          <h3>Collaboration & Recognition</h3>
          <p>
              Cybersecurity is a shared responsibility. That’s why we maintain strong collaborations with international cybersecurity 
              alliances, regional networks, and industry partners to strengthen our capacity and exchange global best practices.
          </p>
          <p>
            As a member of the <strong> Forum of Incident Response and Security Teams (FIRST) </strong>, the <strong> Organization of Islamic Cooperation – Computer 
            Emergency Response Team (OIC-CERT) </strong>, and the <strong> Asia Pacific Computer Emergency Response Team (APCERT) </strong>, 
            BGD e-GOV CIRT significantly enhances its capabilities in cybersecurity response and collaboration. 
            These memberships provide BGD e-GOV CIRT with access to global and regional threat intelligence, best practices, 
            capacity-building opportunities, and coordinated response mechanisms. Through FIRST, BGD e-GOV CIRT connects with a global 
            network of trusted cybersecurity teams to exchange technical knowledge and respond to cross-border cyber threats. 
            Within OIC-CERT, it collaborates with member states to strengthen collective cybersecurity resilience in the Islamic world, 
            especially through joint initiatives, simulation exercises, and information sharing. As part of APCERT, BGD e-GOV CIRT 
            contributes to maintaining a secure and resilient cyberspace across the Asia-Pacific region by participating in regional 
            drills, technical exchanges, and policy discussions. In turn, BGD e-GOV CIRT contributes its expertise, shares threat 
            intelligence, and supports regional capacity development, reinforcing its role as a proactive and reliable partner in the 
            international cybersecurity community.
          </p>
          <p>
            Our impact has earned notable recognition. Bangladesh has been Designated a <strong> Tier-1 Role Model Country </strong> in the <strong> Global 
            Cybersecurity Index 2024 </strong>, published by <strong> International Telecommunication Union (ITU) </strong>
          </p>
          <p>
            These accolades reflect our unwavering commitment to cybersecurity excellence — 
            for Bangladesh and the broader global digital community.
          </p>
      </section>
  </main>

  <div class="container mb-2">
    <a class="btn btn-lg btn-primary"> What We Do </a>
    <a class="btn btn-lg btn-primary"> Mission & Vision </a>
    <a class="btn btn-lg btn-primary"> TLP </a>
  </div>
  <div th:replace="~{fragments/footer :: footer}"></div>

<!-- FontAwesome for Icons -->
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
