<!-- Navigation Bar -->
<nav class="ad-navbar navbar-expand-lg navbar-light" th:fragment="menu"  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <div class="container-fluid">
    <button class="ad-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#ad-navbarNav" aria-controls="ad-navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="ad-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="ad-navbarNav">
      <ul class="ad-nav ms-auto">
        <li class="ad-nav-item">
          <a class="ad-nav-link" aria-current="page" href="/admin/home">Home</a>
        </li>
        <li class="ad-nav-item">
          <a class="ad-nav-link" aria-current="page" href="/admin/media">Media</a>
        </li>
        <li class="ad-nav-item dropdown">
          <a class="ad-nav-link dropdown-toggle" href="#" id="ad-servicesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Post
          </a>
          <ul class="ad-dropdown-menu" aria-labelledby="ad-servicesDropdown">
            <li><a class="ad-dropdown-item" href="/admin/post">Add New Post</a></li>
            <li><a class="ad-dropdown-item" href="/admin/posts">View All Posts</a></li>
          </ul>
        </li>
        <li class="ad-nav-item">
          <a class="ad-nav-link" href="/admin/incident" id="ad-userDropdown" role="button" aria-expanded="false">
            Incidents
          </a>
        </li>
        <li class="ad-nav-item" sec:authorize="!hasRole('ADMIN')">
          <a class="ad-nav-link" href="/admin/user" id="ad-userDropdown" role="button" aria-expanded="false">
            User
          </a>
        </li>
        <li class="ad-nav-item dropdown">
          <button class="ad-nav-link dropdown-toggle" id="ad-profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="background: none; border: none; padding: 0;">
            <img src="/assets/images/profile-icon.png" alt="Profile" style="width: 30px; height: 30px; border-radius: 50%;">
          </button>
          <ul class="ad-dropdown-menu" aria-labelledby="ad-profileDropdown">
            <li><a class="ad-dropdown-item" href="/admin/user">User Management</a></li>
            <li><a class="ad-dropdown-item" href="/admin/my-password">Change My Password</a></li>
            <li><a class="ad-dropdown-item" href="/logout">Signout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div> 
</nav>