<aside class="col-lg-3" th:fragment="sideSection">
    <div class="p-3 bg-light rounded mb-2">
        <h4 class="fw-bold">About Me</h4>
        <p>Brief information about the author or the purpose of the blog. This could include a photo, a short bio, or links to social media.</p>
        <h5 class="mt-4">Categories</h5>
        <ul class="list-unstyled">
            <li><a href="#" class="text-decoration-none">Tech</a></li>
            <li><a href="#" class="text-decoration-none">Lifestyle</a></li>
            <li><a href="#" class="text-decoration-none">Travel</a></li>
            <li><a href="#" class="text-decoration-none">Health</a></li>
        </ul>
    </div>
    <div class="p-3 bg-light rounded mb-2">
        <h4 class="fw-bold">About Me</h4>
        <p>Brief information about the author or the purpose of the blog. This could include a photo, a short bio, or links to social media.</p>
        <h5 class="mt-4">Categories</h5>
        <ul class="list-unstyled">
            <li><a href="#" class="text-decoration-none">Tech</a></li>
            <li><a href="#" class="text-decoration-none">Lifestyle</a></li>
            <li><a href="#" class="text-decoration-none">Travel</a></li>
            <li><a href="#" class="text-decoration-none">Health</a></li>
        </ul>
    </div>
    <div class="p-3 bg-light rounded mb-2">
        <h4 class="fw-bold">About Me</h4>
        <p>Brief information about the author or the purpose of the blog. This could include a photo, a short bio, or links to social media.</p>
        <h5 class="mt-4">Categories</h5>
        <ul class="list-unstyled">
            <li><a href="#" class="text-decoration-none">Tech</a></li>
            <li><a href="#" class="text-decoration-none">Lifestyle</a></li>
            <li><a href="#" class="text-decoration-none">Travel</a></li>
            <li><a href="#" class="text-decoration-none">Health</a></li>
        </ul>
    </div>
</aside>